.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

#signup-main-row{
    min-height: 40rem;
}

.form-outline {
    width: 270px;
    border-radius: 28px;
}

.form-control {
    height: 35px;
}


.image-col {
    background-color: #566e67;
}


/* .form {
    margin-top: 60px;
} */