#signin-logo{
    width: 140px;
    height: 58px;
    margin-top: 50px;
    margin-left: 145px;
}

#signin-button{
    padding: 6px;
    
    
}
#signin-button{
    min-width: 26.5rem;
    height: 40px;
}

#sigin-main-row{
    margin-top: 100px;
    /* border: 2px solid white; */
    min-height: 40rem;
}