.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

section {
    background-color: #E5E5CB;
}

.form-outline {
    width: 270px;
    border-radius: 28px;
}

.form-control {
    height: 35px;
}

/* .btn {
    width: 270px;
    height: 35px;
    background: #566e67;
    border-radius: 2px;
    font-size: 15px;
    outline: none;
    color: white;
    margin-top: 15px;
    margin-bottom: 3px;
} */

.image-col {
    background-color: #566e67;
}


.form {
    margin-top: 60px;
}